
.calculator {
  
  margin-top: 10% ;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  text-align: center;
  font-family: Arial, sans-serif;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(2, 2, 2, 2);
}

.calculator h1 {
  text-align: center;
  margin-bottom: 20px;
  color: rgb(8, 47, 147);
}

.calculator input[type="button"] {
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 1.2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  background-color: #3498db;
  color: #fff;
}

.calculator input[type="button"]:hover {
  background-color: #0c588a;
}

.calculator input[type="text"] {
  width: calc(100% - 12px);
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #3498db;
  border-radius: 5px;
  font-size: 1.2em;
  color: #3498db;
  box-sizing: border-box;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .calculator {
  
    margin-top: 50% ;
  
}
 }